<div class="main_menu menu_position text-center">
    <nav>
        <ul>
            <li><a href="~/">Home</i></a></li>
            <li><a href="~/deals">Deals</a></li>

            <li>
                <a href="blog.html">blog<i class="fa fa-angle-down"></i></a>
                <ul class="sub_menu pages">
                    <li><a href="blog-details.html">blog details</a></li>
                    <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                    <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                </ul>
            </li>

            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html"> Contact Us</a></li>
        </ul>
    </nav>
</div>