<div class="footer_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-7">
                <div class="widgets_container">
                    <h3>GET THE APP</h3>
                    <div class="app_content">
                        <p><strong>ANTOMI</strong> App is now available on Google Play & App Store. Get it now.</p>
                    </div>
                    <div class="app_img">
                        <figure class="app_img">
                            <a href="#"><img src="~/img/icon/icon-appstore.png" alt=""></a>
                        </figure>
                        <figure class="app_img">
                            <a href="#"><img src="~/img/icon/icon-googleplay.png" alt=""></a>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-7">
                <div class="widgets_container widget_menu">
                    <h3>Information</h3>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">New products</a></li>
                            <li><a href="#">Best sales</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-7">
                <div class="widgets_container widget_menu">
                    <h3>Customer Service</h3>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="wishlist.html">Wish List</a></li>
                            <li><a href="#">Specials</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-7 col-sm-12">
                <div class="widgets_container">

                    <h3>CONTACT INFO</h3>
                    <div class="footer_contact">
                        <div class="footer_contact_inner">
                            <div>
                                <img src="~/img/icon/icon-phone.png" alt="">
                            </div>
                            <div class="contact_text">
                                <p>Hotline Free 24/24: <br> <strong>(+800) 123 456 789</strong></p>
                            </div>
                        </div>
                        <p>The Barn, Henley in Arden B578. England. Support@eCommerce</p>
                    </div>

                    <div class="footer_social">
                        <ul>
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
