<div class="footer_bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="copyright_area">
                    <p>Copyright &copy; 2019 <a href="#">Antomi</a> All Right Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>