
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ZDeals - Find the best deals today</title>

    <link rel="stylesheet" href="~/css//bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/niceselect.min.css">

    <link rel="stylesheet" href="~/css/main.css">

</head>

<body>
    <header>
        <div class="main_header header_padding">
            <div class="container">

                <!-- header middle start -->
                <div class="header_middle header_middle_style4">
                    <div class="row align-items-center">
                        <!-- logo start -->
                        <div class="column1 col-lg-3 col-md-6">
                            <div class="logo">
                                <a href="index.html"><img src="~/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <!-- logo end -->
                        <!-- search bar start -->
                        <div class="column2 col-lg-6 col-md-12">
                            @await Component.InvokeAsync("SearchBar")
                            @*@await Component.InvokeAsync("MainMenu")*@
                        </div>
                        <!-- search bar end -->
                        <!-- account section start -->
                        <div class="column3 col-lg-3 col-md-6">
                            <div class="header_configure_area header_configure_four">
                                <!-- favourite items start -->
                                <div class="header_wishlist">
                                    <a href="wishlist.html">
                                        <i class="ion-android-favorite-outline"></i>
                                        <span class="wishlist_count">3</span>
                                    </a>
                                </div>
                                <!-- favourite items end -->
                                @await Component.InvokeAsync("AccountMenu")
                            </div>
                        </div>
                        <!-- account section end -->
                    </div>
                </div>
                <!-- header middle end -->

                @*<div class="header_bottom">
                    <div class="row align-items-center">
                        <div class="column1 col-lg-3 col-md-6"></div>

                        <div class="column2 col-lg-6">
                            @await Component.InvokeAsync("SearchBar")
                        </div>

                        <div class="column3 col-lg-3 col-md-6"></div>
                    </div>
                </div>*@

            </div>
        </div>
    </header>

    <!-- main content area start -->
    @RenderBody()
    <!-- main content area end -->

    <!-- footer start -->
    <footer class="footer_widgets">
        @await Component.InvokeAsync("NewsLetter") 

        <partial name="_FootTop" /> 
        <partial name="_FootBottom" />
    </footer>

    <!-- footer end -->

    @*@await Component.InvokeAsync("CookieConsent")*@
    <div id="cookie-consent"></div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/niceselect.min.js"></script>

    <script src="~/js/main.js"></script>

    <script>
        // load the cookie consent notification
        $("#cookie-consent").load("/Cookie/Consent");
    </script>

    @RenderSection("Scripts", required: false)

</body>

</html>