@page
@model ZDeals.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- customer login start -->
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row d-flex justify-content-center">
                <!--register area start-->
                <div class="col-lg-6 col-md-12">
                    <div class="account_form register">
                        <h2>Register</h2>
                        <form method="post">
                            <p>
                                <label>Email address <span>*</span></label>
                                <input type="text" name="Username">
                            </p>
                            <p>
                                <label>Password <span>*</span></label>
                                <input type="password" name="Password">
                            </p>
                            <div class="login_submit">
                                <button type="submit">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div>
</div>

<!-- customer login end -->
