* {
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

.sidebar_widget {
  background: #ffffff;
  border: 1px solid #ebebeb;
  padding: 20px; }
  .sidebar_widget .single_banner {
    border: 0; }
    @media only screen and (max-width: 767px) {
      .sidebar_widget .single_banner {
        margin-bottom: 0; } }
    @media only screen and (max-width: 767px) {
      .sidebar_widget .single_banner a {
        width: 100%; } }
    @media only screen and (max-width: 767px) {
      .sidebar_widget .single_banner a img {
        width: 100%; } }

.widget_list {
  margin-bottom: 44px; }
  .widget_list:last-child {
    margin-bottom: 0; }
  .widget_list h3 {
    font-size: 14px;
    margin-bottom: 25px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .widget_list h3 {
        font-size: 13px; } }
    .widget_list h3::before {
      position: absolute;
      content: "";
      display: block;
      width: 90%;
      height: 1px;
      background: #c40316;
      bottom: 0; }
  .widget_list > ul > li {
    border-bottom: 1px solid #ebebeb;
    /*&:first-child {
                & a {
                    padding-top: 0;
                }
            }*/ }
    .widget_list > ul > li:last-child {
      border-bottom: 0;
      /*& a {
                    padding-bottom: 0;
                }*/ }
    .widget_list > ul > li > a {
      font-size: 14px;
      display: block;
      line-height: 20px;
      padding: 8px 0; }
      .widget_list > ul > li > a:hover {
        color: #c40316; }
    .widget_list > ul > li.widget_sub_categories > a {
      position: relative;
      font-weight: 500; }
      .widget_list > ul > li.widget_sub_categories > a::before {
        content: '\f107';
        cursor: pointer;
        font-family: FontAwesome;
        font-size: 12px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translatey(-50%); }
      .widget_list > ul > li.widget_sub_categories > a.active::before {
        content: '\f106';
        cursor: pointer;
        font-family: FontAwesome;
        font-size: 12px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translatey(-50%); }
    .widget_list > ul > li ul {
      padding-left: 15px; }
      .widget_list > ul > li ul li {
        border-bottom: 1px solid #ebebeb; }
        .widget_list > ul > li ul li:first-child {
          border-top: 1px solid #ebebeb; }
        .widget_list > ul > li ul li:last-child {
          border-bottom: 0; }
        .widget_list > ul > li ul li a {
          /*padding-bottom: 10px;*/
          padding: 8px 0;
          display: block; }
  .widget_list.banner_area {
    padding: 0;
    border: 0; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .widget_list .banner_thumb {
      width: 33%;
      margin: 0 auto; } }
  .widget_list .banner_thumb a img {
    width: 100%; }

.shop_area {
  background: #f5f5f9;
  padding: 5px 0 133px; }
  @media only screen and (max-width: 767px) {
    .shop_area {
      padding: 60px 0 110px; } }

.shop_toolbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 8px 10px;
  margin: 0 0 30px; }
  @media only screen and (max-width: 767px) {
    .shop_toolbar_wrapper {
      flex-direction: column;
      padding: 15px 10px 5px; } }

.select_option {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .select_option {
      flex-direction: column; } }
  .select_option .nice-select {
    border: 0;
    height: 30px;
    line-height: 29px; }
    .select_option .nice-select ul.list {
      top: 114%;
      right: 0;
      width: 200px;
      max-height: 200px;
      overflow: auto; }

@media only screen and (max-width: 767px) {
  .niceselect_option {
    margin-bottom: 16px; } }

.group_title {
  font-size: 1.3em;
  font-weight: 600; }
  @media only screen and (max-width: 767px) {
    .group_title {
      margin-bottom: 12px; } }
  @media only screen and (max-width: 767px) {
    .group_title p {
      padding-left: 0;
      margin-left: 0;
      border-left: 0; } }

.shop_wrapper {
  margin-bottom: 60px;
  border-top: 1px solid #ebebeb;
  border-radius: 4px; }
  @media only screen and (max-width: 767px) {
    .shop_wrapper .product_thumb a img {
      width: 100%; } }
  .shop_wrapper .single_product {
    position: relative;
    border-top: 0; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .shop_wrapper .col-lg-3 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%; } }

.row.shop_wrapper {
  flex-direction: row; }

.shop_wrapper > div {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .shop_wrapper > div > article {
    color: #3E444A;
    background: #ffffff;
    border: 1px solid #ebebeb;
    margin-bottom: 20px; }

.deal_list {
  padding: 0 20px;
  width: 100%; }
  .deal_list .deal_img_wrapper {
    margin: 30px 0 20px 10px;
    text-align: center; }
    .deal_list .deal_img_wrapper > .deal_type {
      text-align: center;
      background: #ebebeb; }
    .deal_list .deal_img_wrapper img {
      max-width: 90%;
      max-height: 120px; }
  .deal_list .deal_detail .deal_detail_meta {
    font-size: 0.8em;
    color: #999; }
    .deal_list .deal_detail .deal_detail_meta .deal_store {
      float: right;
      margin-right: 10px; }
  .deal_list .deal_detail > h3 {
    font-size: 1.2em;
    font-weight: 500; }
  .deal_list .deal_detail .price_box .price_wrapper > span {
    font-size: 1.4em;
    color: #c40316;
    font-weight: 500; }
  .deal_list .deal_detail .price_box .price_wrapper > del {
    color: #999; }
  .deal_list .deal_detail .price_box .discount_rate {
    background: #c40316 !important;
    color: #ffffff !important;
    outline: 0;
    padding: 2px 5px;
    margin: 0 7px; }
  .deal_list .deal_detail .price_box .deal_highlight {
    color: #c40316;
    font-weight: 500; }
  .deal_list .deal_desc {
    font-size: 12px; }
  .deal_list .action_box {
    padding-top: 30px; }
    .deal_list .action_box .btn_wrapper {
      padding: 10px 15px; }
      .deal_list .action_box .btn_wrapper > a, .deal_list .action_box .btn_wrapper > button {
        width: 100%;
        max-width: 150px;
        border-radius: 4px;
        padding: 5px;
        box-shadow: -1px 6px 19px rgba(255, 192, 0, 0.2) !important; }
      .deal_list .action_box .btn_wrapper a.btn_buynow, .deal_list .action_box .btn_wrapper button.btn_buynow {
        background-color: #FFB322;
        color: #000000;
        border: 1px solid #FFB322;
        font-weight: 600; }
      .deal_list .action_box .btn_wrapper a.btn_getcode, .deal_list .action_box .btn_wrapper button.btn_getcode {
        background-color: #eaca1c;
        color: #000000;
        border: 1px solid #eaca1c;
        font-weight: 600; }
    .deal_list .action_box .action_links {
      padding: 10px 30px; }

.page_actions {
  text-align: center; }
  .page_actions > button {
    width: 120px;
    border-radius: 4px;
    padding: 5px;
    box-shadow: -1px 6px 19px rgba(255, 192, 0, 0.2) !important; }
  .page_actions button.show_more {
    background-color: #c40316;
    color: #ffffff;
    border: 1px solid #c40316; }
