@model SearchBarModel

@{ 
    var query = ViewData["DealQuery"] as ZDeals.Web.Models.DealQuery;
}

<div class="search_container">
    <form action="~/deals" method="GET">
        <div class="hover_category">
            <select class="select_option" name="c" id="categori2">
                <option value="">All Categories</option>
                @foreach (var cate in Model.Categories)
                {
                    var level = cate.Path.Count() - 1;
                    var prefix = new System.Text.StringBuilder().Insert(0, "&nbsp;", level * 4);

                    var selected = cate.Code == query?.CategoryCode;

                    if (selected)
                    {
                        <option selected value="@cate.Code">@prefix @cate.Title</option>
                    }
                    else
                    {
                        <option value="@cate.Code">@prefix @cate.Title</option>
                    }

                }
            </select>
        </div>
        <div class="search_box">
            <input placeholder="" type="text" name="w" value="@query?.Keywords">
            <button type="submit">Search</button>
        </div>
    </form>
</div>